@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Averta PE';
    src: url('https://assets.website-files.com/5af97a9c84ec1bc79d81b5f4/5af9839995f858186aef9314_Intelligent%20Design%20-%20AvertaPE-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Averta PE';
    src: url('https://assets.website-files.com/5af97a9c84ec1bc79d81b5f4/5af983ab4818968a5eba2416_Intelligent%20Design%20-%20AvertaPE-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
  }
/*--- presets -------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 60px;
}

body{
    font-family: 'Poppins', sans-serif;
    color:var(--primary-text-color);
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #333333;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.7rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes*/

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto; /* use for left & right margin at a time, so it will come center*/
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: 500;
    color: white !important; /* use '!important' if we define this same property before */
    padding: 10px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color); /* x-direction y-direction 2px-blur color-shadow color */
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 1px solid #b9cde4;
    padding: 10px 24px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;

}


/* top banner */
.top-banner{
    background-image: url('./assets/asset\ 32.png');
    background-color: #4fb3d4;
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links {
    flex-basis: 730px; /* fix width */
}
.nav-links ul {
    justify-content: end; /* for fixing right side */
    gap: 40px;
}

/* header section */

.header {
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-right img {
    padding-top: 40px;
    width: 100%; /* parent's 100% */
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 570;
    margin-top: 20px;
    margin-bottom: 10px;
}

.get-started-button {
    margin-top: 20px;
}

/* companies section*/

.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);

}

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
   height: 46px;
}

.width-height {
   height: 30px;
}

/*---- features section---- */
.spacer{
    height: 20px;
}
.features-section {
    padding: 70px var(--padding-inline-section);
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feactures-header {
    margin-top: 30px;
    text-align: center;    
}

.feactures-header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.features-card {
    flex-direction: column;
    width: 260px;
    text-align: center;    
}

.features-card img{
    width: 40px;
    height: 40px;
}

.features-card .arrow-image {
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

.features-area{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 40px;
}

.features-area p {
    font-size: 18px;
    margin: 6px 0;
}

/*-- big features section --*/

.big-features-container {
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 60px; 
}

.big-feature-img {
    width: 110%;    
}

.big-feature-img img{
    width: 100%;
}

.big-feature-desc {
    background: url(./assets/asset\ 35.svg) no-repeat 0 64%;
    padding-left: 30px;
    width: 100%;
    margin-bottom: 50px;    
}

.big-feature-desc p {
    padding-top: 20px;
    padding-bottom: 25px;
}

.big-feature-desc img {
    width: 20%;
    padding-bottom: 30px;
}

.div-bold-text {
    font-family: 'Averta PE', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #183b56;
    line-height: 1.5rem;
}

.person img{
    float: left;
    width: 50px;
    height: 80px;
    margin-top: 25px;
    margin-right: 10px;
}

.person-name {
    font-size: 14px;
    font-weight: 600;
}

.person-title {
    font-size: 13px;
}


/* ---exaples section-- */
.examples-header {
    flex-direction: column;
}

.examples-area {
    justify-content: space-between;
    margin-block: 30px;
    overflow: hidden; 
}
.examples-card {
    width: 23%; /* total is 100% but we need some space between 4 images that's why i took 23% */
    position: relative; /* i should make position of <h3> is absolute. */
    min-height: 300px;
    background: black; /* if linear-gradient not work is some browser then background: black will work */
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
    margin-bottom: 50px;    
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
    transform: scale(1.1);
}

.examples-card:nth-child(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 38.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 39.jpeg);
    background-size: cover;
}

.examples-card-text {
    position:absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

/* featuresummary-section */

.heading-h2-light {
    margin-top: 60px;
}

.subheader {
    color: #b9cde4;
    line-height: 30px;
    padding-top: 20px;
}

.heading-our-panel {
    padding-top: 20px;
    font-weight: 600;
}
.feacturesummary-section {
    background-color: #183b54;
}

.featuresummary-column-left {
    color: white;
}
.featuresummary {
    justify-content: space-between;
    gap: 30px;
}

.featuresummary-column {
    justify-content: space-between;
    position: relative;
    flex: 50%;
    width: 100%;
    height: 550px;
}


.panelad-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    overflow: visible;
    justify-content: center;  
    align-items: center;
    background-image: url(./assets/asset\ 40.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panelad-image-price {
    display: flex;
    width: 286px;
    height: 280px;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/asset\ 41.png);
    font-family: 'Averta PE',sans-serif;
    font-size: 24px;
}

.panel-price {
    margin-top: 8px;
    color: #183b56;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

.div-block-3 {
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.price{
    font-size: 50px;
    color: #2294ed;
    font-weight: 600;
    margin-left: -2px;
    margin-right: 8px;
    line-height: 36px;
}

.demographiclist {
    margin-bottom: 20px;
    gap: 30px;
    font-size: 13px;
    line-height: 30px;
    color: #b9cde4;
}
.featurelist {
    list-style: disc;
    margin: 20px;
}
.panelfeaturelistlink {
    text-decoration: none;
    color: #b9cde4;
    border-width: 1px;
    border-color: #b9cde4;
    border-style: none none dotted none;
    
}

/* start-testing-today-section */

.start-testing-today-div {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading-h2 {
    margin-top: 20px;
    margin-bottom: 48px;
    color: #183b56;
    font-weight: 600;
    font-size: 32px;
}

.sub-heading-h2 {
    margin-bottom: 32px;
    color: #577592;
    font-weight: 500;
}

.primary-button-end {
    padding: 15px 30px;
    border-radius: 4px;
}

/* footer section */

footer {
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ebf2fa;
    border: 1px solid transparent;
}

.footer-logo  img{
    width: 150px;
}

.heading {
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-hover-link {
    font-size: 14px;
    color: #577592;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

/* sub footer section */

.subfooter {
    box-sizing: content-box;
    background-color: #b9cde4;
    padding: 20px
}


.subfooter-container {
    width: 70%;
    padding-left: 50px;
    padding-right: 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #183b56;
    font-weight: 500;
}



.social-media-links {
    gap: 30px;
}
